<div
style="scroll-snap-align: start; height: 100vh"
class="bg-gradient-to-br from-orange-300 via-orange-500 to-orange-700 h-screen w-screen russo-one-regular" 
>
<div class="text-container">
    <div class=" text-black">Hello, This is block of a text</div>
    <div class="text-black">Hello, This is another block of text</div>
    <div class="text-black">Hello, This is yet another block of text</div>
    <div class="text-black">Hello, This is also a block of text</div>
    <div class="text-black">Hello, This is the last block of text</div>
</div>
</div>
