<header class="relative flex flex-col justify-center items-center">
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
      <div class="mx-auto max-w-3xl text-center flex flex-col justify-center">
        <h1 class="mb-6 pb-4 text-4xl font-bold bg-gradient-to-r from-fuchsia-500 via-pink-600 to-amber-500 bg-clip-text text-transparent md:text-6xl">Le site Web que tu veux <span class="bg-gradient-to-r from-amber-500 via-fuchsia-500 to-violet-500 bg-clip-text text-transparent">sans le temps de développement</span></h1>
        <a href="#" class="inline-block rounded-full bg-gradient-to-r from-pink-500 via-violet-700 to-pink-500 px-20 py-4 text-center font-bold text-white transition hover:border-black">C'es Parti !</a>
      </div>
      
    </div> 
    <div class="w-3/6 h-auto flex flex-col justify-center -mt-20">
        <img src="images/pc.png" alt="">
    </div>
    
  </header>

  

